<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!-- bean id(唯一) 和 类的全限定类名   -->
    <bean id="person" name="personNick" class="cn.beichenhpy.demo.spring.ioc.bean.Person"/>
</beans>